body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1 {
  text-shadow: 5px 5px 10px rgba(16, 151, 245, 0.4);
  color: #1097f5;
  text-align: left;
}

h2 {
  color: #a2a8d3;
  text-align: left;
}

