body {
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(255, 255, 255, 0.31) 1.2%,
    rgb(36, 212, 219) 100.2%
  );
}

h1 {
  position: relative;
  top: 20px;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(58, 16, 245, 0.4);
  color: #113f67;
  font-family: "Rhodium Libre", serif;
  padding: 10px;
}

.logo {
  display: block;
  position: relative;
  padding: 20px;
}

.city {
  position: relative;
  top: 20px;
  text-align: center;
  text-shadow: 5px 5px 10px rgba(58, 16, 245, 0.4);
  color: magenta;
  font-family: "Rhodium Libre", serif;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.input-city {
  padding: 5px;
  margin: 20px;
}

.search-box {
  display: block;
  position: relative;
  padding: 5px;
}

.btn {
  padding: 10px;
  margin: 10px;
}

.currentCity {
  color: #f70776;
  text-shadow: 5px 5px 10px rgba(58, 16, 245, 0.4);
  font-family: "Rhodium Libre", serif;
  font-size: 60px;
  position: relative;
  text-transform: capitalize;
  top: 2px;
  left: 10px;
  padding: 30px;
  margin: 0auto;
}

.date {
  color: blueviolet;
  font-family: "Rhodium Libre", serif;
  font-size: 30px;
}

.humidity {
  color: #007cb9;
  font-size: 20px;
}

.wind {
  font-size: 20px;
}

.temperature {
  color: rgb(36, 104, 73);
  font-size: 20px;
}

.celsius {
  color: rgb(36, 104, 73);
  font-size: 20px;
}

.desc {
  color: #ff7e67;
  text-transform: capitalize;
  font-size: 20px;
}

.description {
  color: #ff7e67;
  text-transform: capitalize;
  font-size: 20px;
}
.forecast {
  margin-top: 20px;
  text-align: center;
  font-family: "Rhodium Libre", serif;
}

.card-title1 {
  color: #53a8b6;
  font-family: "Rhodium Libre", serif;
}

.fa-solid {
  color: #007cb9;
  text-align: right;
  margin: 20px;
}

.more {
  color: #79c2d0;
  text-decoration: none;
  background: #113f67;
}

.more:hover {
  background: #53a8b6;
}

.card-title2 {
  color: #79c2d0;
  font-family: "Rhodium Libre", serif;
}

.card-title3 {
  color: #53a8b6;
  font-family: "Rhodium Libre", serif;
}

.card-title4 {
  color: #79c2d0;
  font-family: "Rhodium Libre", serif;
}

.card-title5 {
  color: #53a8b6;
  font-family: "Rhodium Libre", serif;
}
